/* здесь используйте глобальные переменные */
//colors
$basic-white: #ffffff;
$basic-black: #000000;
$text-black: #111111;
$product-card-black:#222222;
$text-grey: #444444;
$icon-grey: #666666;
$border-grey: #d9d9d9;
$border-input-grey: #e7e7e7;
$bg-grey: #f2f2f2;
$bg-dark-grey: #eaeaea;
$basic-green: #68b738;
$green-gradient: rgba(104, 183, 56, 0.85);

//fonts
$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;

//media
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 767px;
