.additional {
  max-width: 100%;
  padding: 0 20px;
  border: 0;
  margin-bottom: 34px;
}

.additional__title {
  position: relative;
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 34px;
}

.additional__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 160px;
  width: 100vhs;
  height: 3px;
  margin-top: 2px;
  background-color: $basic-green;
  z-index: -1;
}

.additional__item:not(:last-of-type) {
  margin-bottom: 13px;
}

.additional__item-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-grey;
}


