.comment {
  border: none;
  margin-bottom: 23px;
  padding: 0 20px;
}

.comment__title {
  position: relative;
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 38px;
}

.comment__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 140px;
  width: 100vh;
  height: 3px;
  margin-top: 2px;
  background-color: $basic-green;
  z-index: -1;
}

.comment__textarea {
  min-width: 280px;
  border: 1px solid $border-input-grey;
  padding: 14px;
  margin: 0;
  height: 150px;
  font-family: $primary-font;
  text-transform: uppercase;
  font-size: 16px;
  color: $text-grey;
}
